/.DS_Store
/target/
/data/*
!/data/skins/
/data/skins/*
!/data/skins/default/
!/data/skins/default/**
!/data/songs/
/data/songs/*
!/data/songs/sample-playable/
!/data/songs/sample-playable/**
!/data/songs/sample-playable-9k/
!/data/songs/sample-playable-9k/**
/.local/
/.claude/settings.local.json

# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
